nav{

    ul{

        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-weight: bold;
        text-transform: uppercase;

        a{

            color: aliceblue;
  background-color: rgb(0, 0, 0);
  transition-property: background-color;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;

            

        }

    }

}