@mixin text ($align,$size,$color,$fuente) {
    font-family: $fuente;
    text-align: $align;
    font-size: $size;
    color: $color;
    list-style: none;

}

.contenedorHeader a{
   @include text(center,18px , $colorCieloPastel ,'poppins' );
  
  
   &:hover{
    width: 0;
    height: 4px;
    background-color: rgb(234, 234, 233);
    transition: all .5s;
    border-radius: 5px;
}

}     

.evento2{

@extend .evento1;

}

.evento3{

  @extend .evento1;
  text-align: right;  
}
.evento4{
@extend .evento1;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

$noticiasDestacadas:(

color:$colorCielo,
font-size: 15px,
background-color: rgb(172, 20, 20),

);



