@mixin text ($align,$size,$color,$fuente) {
    font-family: $fuente;
    text-align: $align;
    font-size: $size;
    color: $color;
    list-style: none;

}

.contenedorHeader a{
   @include text(center,18px , $colorCieloPastel ,'poppins' );
  
  
   &:hover{
    width: 0;
    height: 4px;
    background-color: cadetblue;
    transition: all .5s;
}

}     

.evento2{

@extend .evento1;

}

.evento3{

  @extend .evento1;
  text-align: right;  
}
.evento4{
@extend .evento1;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

$noticiasDestacadas:(

color:$colorCielo,
font-size: 15px,
background-color: rgb(172, 20, 20),

);

.mainNews{

color: map-get($map: $noticiasDestacadas, $key: color );



}

.mainNewsfifa{

font-size: map-get($map: $noticiasDestacadas, $key: font-size );

}

.mainNewstop5{


    background-color: map-get($map:$noticiasDestacadas , $key: background-color );
}

