/* Color Theme Swatches in Hex */
.contenedorHeader a {
  font-family: "poppins";
  text-align: center;
  font-size: 18px;
  color: #22A2F2;
  list-style: none;
}
.contenedorHeader a:hover {
  width: 0;
  height: 4px;
  background-color: cadetblue;
  transition: all 0.5s;
}

.zoom {
  box-sizing: content-box;
  overflow: hidden;
}
.zoom:hover {
  transform: scale(1.1);
  transition: 1s;
}

* {
  padding: 0;
  margin: 0;
}

.border {
  background-color: rgba(5, 91, 239, 0.4666666667);
  border: 1px solid rgb(0, 0, 0);
}

.grilla {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header header" "main   main   main " "section section aside " "footer footer footer";
  grid-template-columns: 30% auto 25%;
  grid-template-rows: 15% 500px 3fr 20%;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.section {
  grid-area: section;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.contenedorHeader {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  height: 100%;
}

.contenedorHeader img {
  width: 20%;
  height: 100%;
  border-radius: 50%;
}

.contenedorHeader nav {
  display: flex;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-around;
}

.contenedorHeader nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
}

.contenedorHeader a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.mainFlex {
  height: 100%;
  background-color: rgb(255, 248, 240);
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mainFlex a {
  text-decoration: none;
  color: #f3eded;
}

.mainFlex a:hover {
  width: 0;
  height: 4px;
  background-color: cadetblue;
  transition: all 0.5s;
}

.evento1 a {
  text-decoration: none;
}

.mainFlex article {
  background-color: rgba(22, 4, 105, 0.8039215686);
  width: 33%;
  height: 100%;
}

img {
  width: 100%;
  height: 90%;
}

.itemAside img {
  width: 30%;
  height: 20%;
  padding-top: 25px;
}

.itemAside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.evento {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 0 0 125px;
}

.evento div {
  background-color: #fff;
  width: 100%;
  height: 25%;
  border: 1px solid rgba(54, 24, 191, 0.8039215686);
}

.evento img {
  width: 30%;
}

.evento1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.evento1 p {
  font-size: x-large;
  font-weight: bolder;
}

.itemAside h3 {
  padding-top: 30px;
}

h2 {
  color: rgb(176, 137, 137);
  text-align: center;
  height: 100%;
  font-size: large;
  transition: color 2s;
}

section {
  height: 100%;
}

.foto {
  width: 30%;
}

footer {
  background-color: #000;
  height: 100%;
  width: 100%;
}

.contendidoFooter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.bloqueFooter {
  color: white;
}

.bloqueFooter h4 a {
  color: white;
  text-decoration: none;
}

/* FORM*/
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .button {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: #fff;
  margin: 16px 0;
  font-size: 16px;
}

.bodyForm {
  background-color: cadetblue;
}

/*NOTICIAS*/
.headerNews {
  width: 100%;
  background-color: #000;
}

.headerNews nav {
  display: flex;
}/*# sourceMappingURL=style.css.map */